@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.header{
    width: 100%;
    color: white;
    background-color: black;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header a{
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    padding: 0;
    font-size: 40px;
    margin-left: 800px;
    font-family: 'Playfair Display', serif;

}
.header h1{
    margin: 0;
    font-family: 'Playfair Display', serif;
    padding: 0;
    font-size: 40px;
    padding-left: 40px;
}
.header a{
    margin: 0;
    font-family: 'Playfair Display', serif;
    padding: 0;
    font-size: 40px;
    padding-left: 40px;
}
body{
    background: 
    linear-gradient(to bottom, transparent 15%, #000000 95%),
    linear-gradient(to right, #000000 0%, #1a1a1a 15%, #1a1a1a 85%, #000000 100%);
    background-color: #000000; 
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.bi.bi-basket2-fill{
    padding-right: 50px;
    font-size: 40px;
    color: white;
}
.content-on-main{
    position: relative;
    top: 150px;
    color: white;
    text-align: center;
}
.content-on-main h1{
    font-size: 80px;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
.content-on-main p{
    font-size: 27px;
    margin: 0;
    padding: 0;
    color: rgb(77, 75, 75);
    font-family: 'Prosto One', cursive;
}
.filter {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding-top: 330px;
}

.filter a {
    text-decoration: none;
    color: #ccc;
    font-family: 'Prosto One', cursive;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.filter a.active, .filter a:hover {
    color: #d48344; 
}
.cards-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    padding:50px 80px 60px;
}

.card{
    border:1px solid #333;
    border-radius:10px;
    padding:15px;
    background:#111;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    border-color:#ff8c42;
}

.photo-placeholder{
    width:100%;
    height:140px;
    background:#ffffff;
    font-family: prosto one, cursive;
    font-size: 50px;
    font-weight: bolder;
    color:#444;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:6px;
    margin-bottom:15px;
}

.row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:8px;
}

.row h3{
    font-family: 'Prosto One', cursive;
    font-weight: bolder;
    font-size: 31px;
    color: white;
    margin-bottom: 0;
    margin-right: 15px;
    margin-top: 0;
}

.price{
    color:#ff8c42;
    font-weight:bold;
    font-family: 'Prosto One', cursive;
    font-size: 28px;
    white-space: nowrap;
}

.description{
    font-size:22px;
    font-family: 'Prosto One', cursive;
    color:#aaa;
    margin-top: 0;
    margin-bottom:15px;
}

.add-btn{
    width:100%;
    font-family: prosto one, cursive;
    font-weight: bolder;
    padding:10px;
    font-size: 14px;
    border:none;
    border-radius:6px;
    background:#ff8c42;
    color:rgb(0, 0, 0);
    font-size:20px;
    cursor:pointer;
    transition:0.3s;
}

.add-btn:hover{
    background:#ff7a20;
}
.footer{
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}
.footer-title{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 86px;
    margin: 0;
}
.footer-description{
    font-family: 'Prosto One', cursive;
    font-size: 16px;
    color: rgb(77, 75, 75);
    margin: 5px 0 0;
}
.content-on-basket{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.content-on-basket h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
    font-family: 'prosto one', serif;
}
.content-on-basket a{
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: #333;
    margin-top: 0;
    font-family: 'prosto one', serif;
    transition: transform 0.3s ease, color 0.3s ease;
}
.content-on-basket a:hover {
    transform: scale(1.2);
    color: #5f5f5f;
}
.h1-on-last{
    padding-top: 30px;
    color: white;
    text-align: center;
    font-family: playfair display, serif;
    font-weight: regular;
    font-size: 40px;
}
.order-card {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 700px;
    text-align: center;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    background-color: #000;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 25px;
}

.tab {
    flex: 1;
    background: transparent;
    border: none;
    font-family: prosto one, cursive;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
}

.tab.active {
    background-color: #a66333;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-family: prosto one, cursive;
    font-weight: bold;
    font-size: 0.7rem;
    color: #777;
    margin-bottom: 5px;
    margin-left: 5px;
}

input, select {
    width: 100%;
    background-color: #262626;
    border: 1px solid #3d3d3d;
    font-family: prosto one, cursive;
    border-radius: 8px;
    padding: 12px;
    color: white;
    box-sizing: border-box;
}

.total-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: prosto one, cursive;
    margin: 25px 0;
    font-size: 1.2rem;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.price {
    font-weight: bold;
    font-family: playfair display, serif;
}

.submit-btn {
    width: 100%;
    background-color: #a66333;
    color: white;
    border: none;
    padding: 18px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}
.confirm-btn {
    display: flex;
    background-color: #a66333;
    color: white;
    border: none;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
    font-family: prosto one, cursive;
    font-size: xx-large;
    padding: 50px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}
.submit-btn:hover {
    background-color: #8e522a;
}
.address.important {
    color: #ff8c42;
}
.back-link {
    display: inline-block;
    margin-top: 20px; 
    margin-bottom: 40px; 
    text-decoration: none;
    color: #666; 
    font-family: 'Prosto One', cursive;
    font-size: large;
    transition: color 0.3s ease;
    width: 100%; 
    text-align: center;
}
.back-link:hover {
    color: #ff8c42; 
}
